* {
  box-sizing: border-box;
}

:root {
  --color-text: #FFFFFF;
  --color-background: #0F0F0F;
  --color-a: #1D1D1D;
  --color-b: #3B3B3B;
  --color-hover: #399E4C;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
  display: grid;
  grid-template-areas:
    'sidebar title'
    'sidebar main';
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
  overflow-y: auto;
}

.title {
  grid-area: title;
  height: fit-content;
  margin: 30px auto 0px auto;
}

/* Sidebar */

.sidebar {
  grid-area: sidebar;
  width: 80px;
  background-color: var(--color-a);
  padding: 15px;
  min-height: 100vh;
  overflow: hidden;
}

.sidebar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.sidebar li {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

.sidebar button {
  width: 100%;
  height: 100%;
  padding: 0px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: var(--color-hover);
}

/* Sidebar buttons */

#register-btn {
  font-size: 40px;
}

#new-tl-btn {
  font-size: 50px;
}

#color-toggle-btn {
  font-size: 35px;
}

.task-list-container {
  grid-area: main;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.task-list {
  position: relative;
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-a);
  height: fit-content;
  min-height: 300px;
  border: none;
  border-radius: 10px;
}

.tl-title-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 15px;
}

.task-list-title {
  flex: 1;
  font-size: 150%;
}

.tl-edit-title {
  align-self: start;
}

.tl-edit-title:hover {
  color: var(--color-hover);
  cursor: pointer;
}

.tl-delete {
  align-self: start;
}

.tl-delete:hover {
  color: var(--color-hover);
  cursor: pointer;
}

.tl-title-input {
  flex: 1;
  width: 100%;
  border: none;
  height: 27px;
  font-family: inherit;
  font-size: 150%;
}

.task-input {
  flex: 1;
  width: 100%;
  border: none;
  height: 24px;
  font-family: inherit;
}

.task-list-body {
  display: block;
}

.task-list-footer {
  position: absolute;
  bottom: 7px;
  right: 20px;
  height: fit-content;
}

.new-task-btn {
  padding: 0px;
  background-color: inherit;
  border: none;
  height: 100%;
  float: right;
  font-size: 100%;
  color: inherit;
  cursor: pointer;
}

.new-task-btn:hover {
  color: var(--color-hover);
}

.new-task-btn span {
  font-size: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.task-card {
  display: flex;
  gap: 5px;
  background-color: var(--color-b);
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.task-card-body {
  flex: 1;
}

.task-edit {
  align-self: start;
}

.task-edit:hover {
  color: var(--color-hover);
  cursor: pointer;
}

.task-delete {
  align-self: start;
}

.task-delete:hover {
  color: var(--color-hover);
  cursor: pointer;
}

/* Form modal */

#form-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-body {
  background-color: var(--color-b);
  margin: 0px auto;
  padding: 20px;
  border: 1px solid var(--color-a);
  width: max(350px, 40%);
  border-radius: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.modal-body h2 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.modal-body label {
  display: block;
  margin-bottom: 5px;
}

.modal-body input {
  display: block;
  border: none;
  border-radius: 5px;
  height: 40px;
  margin: 0px auto 0px auto;
  padding: 10px;
  width: 80%;
}

.modal-body form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group input:valid+div {
  display: none;
}

.input-group input:invalid+div {
  display: inline;
}

.input-error-msg {
  color: rgb(255, 60, 60);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
  font-weight: 100;
}

#form-submit-btn {
  border: none;
  border-radius: 10px;
  font-size: 100%;
  height: 40px;
}